.resources-container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
        }
        
        .resources-title {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 30px;
            color: #333;
            text-align: left;
        }
        
        .resources-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }
        
        .resource-card {
            height: 280px;
            background-color: white;
            border-radius: 20px;
            padding: 25px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .resource-card:hover {
            transform: translateY(-5px); /* Поднимаем карточку на 5px вверх */
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12); /* Добавляем более выраженную тень для эффекта "поднятия" */
        }
        
        .resource-icon {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
            /* Замените на вашу иконку */
            border-radius: 50%;
        }
        
        .resource-card-title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
            color: #333;
        }
        
        .resource-description {
            font-size: 16px;
            color: #666;
            margin-bottom: 20px;
            line-height: 1.5;
        }
        
        .resource-button {
            background-color: transparent;
            text-decoration: none;
            border: 2px solid rgba(74, 123, 247, 1);
            color: #333;
            padding: 8px 16px;
            font-size: 16px;
            border-radius: 32px;
            cursor: pointer;
            font-weight: 500;
            transition: all 0.3s ease;
            margin-top: 10px;
            width: 200px;
        }
        
        .resource-button:hover {
            background-color: rgba(74, 123, 247, 0.1);
        }
        
        @media (max-width: 768px) {
            .resources-grid {
                grid-template-columns: 1fr;
            }
        }